html { 
  background: url(imgs/city-lights.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;  
}

body {
  padding-top: 5em;
}

/* html {
  background-image:url('imgs/city-lights.png');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh; 
  overflow: hidden;
  }
  
  body {           
  height:100%;
  overflow: auto;
  } */


h2, h1 {
  color: white;
}

.App {
  display: inline-flex;
  width: 100%;
}

.leftPane {
  flex: 1;
  text-align: center;
  color: white;
  padding: 0 3em;
}

.rightPane {
  flex: 2;
  display: block;
  padding: 5px;
}

#cards {
  margin: 0 auto 3em;
  width: 100%;
  position: absolute;
}

#selfImg {
  /* position: relative; */
  margin-top: 3em;
  width: 70%;
  top: 20%;
}

.container {
  margin: 20px 0;
  min-width: 235px;
}

.cardwrapper {
  position: relative;
  width: 30%;
  height: 300px;
  display: inline-block;
  margin: 5px;
  min-width: 247px;
}

#buttons {
  margin: 1em auto;
  display: block;
}

/* .react-pdf__Page__canvas {
  position: absolute;
  top: 0;
  width: 80%;
  margin: 0 auto;
} */

#cv {
  width: 80%;
  display: block;
}

#cvDiv {
  display: block;
  width: 80%;
  margin: 5px auto;
  position: absolute;
  overflow-x: hidden;
}

@media (max-aspect-ratio: 1/1), (max-width: 880px) {
  html {
    height: 120%; 
    overflow-x: hidden;  
  }

  .App{
    display: block;
  }
  #cards {
    overflow-y: auto;
    height: 45em;
  }
  #cards div {
    display: block;
  }
  .rightPane {
    /* width: 100%; */
    display: inline;
    width: 100%;
  }
  .cardwrapper {
    width: 95%;
    margin: 1em auto;
  }
  
  #buttons {
    text-align: center;
  }

  #cv {
    margin: auto;
    width: 100%;
  }
}